<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.create.mapper.ArticleMapper">

    <select id="createCount" resultType="java.lang.Integer">
        SELECT count(*) FROM article WHERE DATE(create_time) = #{day}
    </select>

    <update id="incCommentsCount">
        update article set comments_count = comments_count + #{counts} where id = #{articleId}
    </update>

</mapper>
